<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailures="false"
        syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Sef Unit-Tests">
            <directory suffix="Test.php">Sef/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Sef/src</directory>
            <exclude>
                <directory suffix=".php">Sef/src/Application.php</directory>
                <directory suffix=".php">Sef/src/Bootstrap/Bootstrap.php</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">Sef/tests</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="review/code-coverage"/>
        <log type="coverage-clover" target="review/logs/phpunit.xml"/>
        <log type="json" target="review/logs/phpunit.json"/>
        <log type="tap" target="review/logs/phpunit.tap"/>
        <log type="junit" target="review/logs/phpunit-junit.xml"/>
        <log type="testdox-html" target="review/testdox.html"/>
        <log type="testdox-text" target="review/testdox.txt"/>
    </logging>
</phpunit>